{
    display: flex
;
    flex-direction: row
;
    flex-wrap: wrap
;
    align-items: center
;
    align-content: center
;
    justify-content: center
;
    width: 100%
;
    background-color: white
;
    border: 1px solid black
;
}

.my-custom-class {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

.my-custom-class .game-card {
    margin-bottom: 20px;
}
